In [1]:
import pandas as pd

In [31]:
!mkdir -p sailboat_attempts
!mkdir -p microsailboat_attempts

## Special cases

### Aberystwyth attempt 2

In [33]:
aber2 = pd.read_csv('aber-own-gps/AberSailbot-AreaScan-Attempt2.csv')

# Move datetime first
aber2 = aber2[['datetime', 'latitude', 'longitude']]

# Select time for attempt - timestamps are UTC, but without 'Z'
inwindow = (('2018-08-29T14:29:00' < aber2.datetime) & (aber2.datetime < '2018-08-29T15:14:00'))
aber2 = aber2[inwindow]

# Strip off microseconds, add Z for UTC timezone
aber2.datetime = aber2.datetime.map(str).str[:len('2018-08-29T14:29:00')] + 'Z'

aber2.to_csv('microsailboat_attempts/Aberystwyth2.csv', index=False)

### Plymouth large boat 1

In [40]:
from datetime import datetime
datetime.strptime('26/08/2018 13:22:12+0000', '%d/%m/%Y %H:%M:%S%z')

datetime.datetime(2018, 8, 26, 13, 22, 12, tzinfo=datetime.timezone.utc)

In [46]:
plym_big1 = pd.read_csv('plymouth-own-gps/pb_first_attempt.csv')
plym_big1.columns = ['nix', 'datetime', 'latitude', 'longitude']
plym_big1 = plym_big1[['datetime', 'latitude', 'longitude']]
plym_big1.datetime = [datetime.strptime(s + '+0000', '%d/%m/%Y %H:%M:%S%z') for s in plym_big1.datetime]

# We think this is already trimmed to only the scorable data
plym_big1.to_csv('sailboat_attempts/Plymouth1.csv', index=False)

### Plymouth small boat 2

In [45]:
plym_small2 = pd.read_csv('plymouth-own-gps/ps_second_attempt.csv')
plym_small2.columns = ['nix', 'datetime', 'latitude', 'longitude']
plym_small2 = plym_small2[['datetime', 'latitude', 'longitude']]
plym_small2.datetime = [datetime.strptime(s + '+0000', '%d/%m/%Y %H:%M:%S%z') for s in plym_small2.datetime]

# This should already be trimmed to size
plym_small2.to_csv('microsailboat_attempts/

                       datetime   latitude  longitude
0     2018-08-29 14:42:57+00:00   0.000000   0.000000
1     2018-08-29 14:42:57+00:00   0.000000   0.000000
2     2018-08-29 14:42:57+00:00   0.000000   0.000000
3     2018-08-29 14:42:58+00:00   0.000000   0.000000
4     2018-08-29 14:42:58+00:00   0.000000   0.000000
5     2018-08-29 14:42:58+00:00   0.000000   0.000000
6     2018-08-29 14:42:58+00:00   0.000000   0.000000
7     2018-08-29 14:42:58+00:00   0.000000   0.000000
8     2018-08-29 14:42:58+00:00   0.000000   0.000000
9     2018-08-29 14:42:58+00:00   0.000000   0.000000
10    2018-08-29 14:42:58+00:00   0.000000   0.000000
11    2018-08-29 14:42:58+00:00   0.000000   0.000000
12    2018-08-29 14:42:58+00:00   0.000000   0.000000
13    2018-08-29 14:42:58+00:00   0.000000   0.000000
14    2018-08-29 14:42:58+00:00   0.000000   0.000000
15    2018-08-29 14:42:58+00:00   0.000000   0.000000
16    2018-08-29 14:42:58+00:00   0.000000   0.000000
17    2018-08-29 14:42:59+00:00   0.000000   0.000000
18    2018-08-29 14:42:59+00:00   0.000000   0.000000
19    2018-08-29 14:42:59+00:00   0.000000   0.000000
20    2018-08-29 14:42:59+00:00   0.000000   0.000000
21    2018-08-29 14:42:59+00:00   0.000000   0.000000
22    2018-08-29 14:42:59+00:00   0.000000   0.000000
23    2018-08-29 14:42:59+00:00   0.000000   0.000000
24    2018-08-29 14:42:59+00:00   0.000000   0.000000
25    2018-08-29 14:42:59+00:00   0.000000   0.000000
26    2018-08-29 14:42:59+00:00   0.000000   0.000000
27    2018-08-29 14:42:59+00:00   0.000000   0.000000
28    2018-08-29 14:42:59+00:00   0.000000   0.000000
29    2018-08-29 14:42:59+00:00   0.000000   0.000000
...                         ...        ...        ...
28529 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28530 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28531 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28532 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28533 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28534 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28535 2018-08-29 15:17:36+00:00  50.820499  -1.309967
28536 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28537 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28538 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28539 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28540 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28541 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28542 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28543 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28544 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28545 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28546 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28547 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28548 2018-08-29 15:17:37+00:00  50.820499  -1.309967
28549 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28550 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28551 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28552 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28553 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28554 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28555 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28556 2018-08-29 15:17:38+00:00  50.820499  -1.309967
28557 2018-08-29 15:17:38+00:00  50.820469  -1.310063
28558 2018-08-29 15:17:38+00:00  50.820469  -1.310063

[28559 rows x 3 columns]